<div class="pad"></div>
<div class="pad"></div>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <img src="assets\p1.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <img src="assets\p2.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <img src="assets\p3.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <img src="assets\p4.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <img src="assets\p6.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <img src="assets\p7.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <img src="assets\p8.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <img src="assets\p9.gif" style="height: 100%;width: 100%"/>
    </div>
  </div>
</div>
